body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
figure{
    margin: 0 0 20px 0;
    padding: 0;
    max-width: 100%;
}
figcaption{
    font-size: smaller;
}
img{
    max-width: 100%;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
#disclaimer{
    background-color: #ffd1d1;
    padding: 0;
    border: 1px solid red;
    border-radius: 8px;
    max-width: 680px;
    margin: 0 auto;
}
#disclaimer p{
    margin: 20px;
}
.content{
    max-width: 680px;
    margin: 0 auto;
}
label{
    font-size: small;
}
#readabler-input{
    width: calc( 100% - 0.75em );
    height: 40px;
    margin: 0;
    border-radius: 8px;
}
footer{
    max-width: 680px;
    margin: 40px auto;
}
